@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 62.5%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'hiragino';
  src: url(../fonts/hiragino.ttc);
}

* {
  font-family: 'hiragino';
}

body {
  /* 暫定でPC版の場合1200pxの画面幅を持たせるように */
  min-width: 1200px;
}

@media screen and (max-width: 960px) {
  body {
    min-width: auto;
  }
}

.header__space {
  height: 40px;
  background-image: url("../image/bg_main-space.png");
}

@media screen and (max-width: 960px) {
  .header__space {
    height: 27px;
  }
}

@media screen and (max-width: 520px) {
  .header__space {
    height: 12px;
  }
}

.header .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 920px;
}

@media screen and (max-width: 960px) {
  .header .main {
    min-height: 658px;
  }
}

@media screen and (max-width: 520px) {
  .header .main {
    min-height: 284px;
  }
}

.header .main__left {
  text-align: center;
  background-image: url("../image/bg_main.png");
  -ms-flex-negative: 0;
      flex-shrink: 0;
  /* flexでwitdhを自動調整するのを無くす */
  width: 25%;
}

.header .main__left .title {
  position: relative;
}

.header .main__left .title .title-main {
  margin-top: 131px;
}

@media screen and (max-width: 960px) {
  .header .main__left .title .title-main {
    margin-top: 104px;
    width: 58px;
  }
}

@media screen and (max-width: 520px) {
  .header .main__left .title .title-main {
    margin-top: 70px;
    width: 28px;
  }
}

.header .main__left .title .title-sub {
  position: absolute;
  top: 80px;
  margin-left: 4.7%;
}

@media screen and (max-width: 960px) {
  .header .main__left .title .title-sub {
    top: 53px;
    width: 23px;
  }
}

@media screen and (max-width: 520px) {
  .header .main__left .title .title-sub {
    top: 56px;
    width: 11px;
  }
}

.header .main__left > hr {
  border-color: #272727;
  opacity: 68%;
  margin: 50px 10.4%;
}

@media screen and (max-width: 520px) {
  .header .main__left > hr {
    display: none;
  }
}

.header .main__left__info {
  display: inline-block;
  text-align: left;
}

.header .main__right {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 75%;
  overflow: hidden;
}

.header .main__right .img-main {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
}

.footer {
  background-image: url(../image/bg_footer-space.png);
  position: relative;
}

.footer * {
  color: white;
}

.footer .footer-menu {
  width: 34.7%;
  height: 74px;
  margin: 0 auto;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .footer-menu > li {
  font-size: 20px;
}

@media screen and (max-width: 960px) {
  .footer .footer-menu > li {
    font-size: 12px;
  }
}

.footer .footer-menu > li > a {
  text-decoration: none;
}

.footer > small {
  position: absolute;
  top: 30px;
  right: 2.7%;
  font-size: 16px;
}

@media screen and (max-width: 960px) {
  .footer > small {
    font-size: 8px;
  }
}

.main-info {
  display: inline-block;
  text-align: left;
  position: relative;
}

.main-info * {
  font-size: 19px;
  line-height: 26px;
}

@media screen and (max-width: 960px) {
  .main-info * {
    font-size: 12px;
    line-height: 16px;
  }
}

@media screen and (max-width: 520px) {
  .main-info {
    display: none;
  }
}

.main-info::before {
  position: absolute;
  font-family: FontAwesome;
  content: "\f041";
  left: -20px;
  font-size: 19px;
  line-height: 26px;
}

@media screen and (max-width: 960px) {
  .main-info::before {
    left: -15px;
    font-size: 12px;
    line-height: 16px;
  }
}

.nav {
  background-image: url("../image/bg_menu.png");
  color: white;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 120px;
  list-style: none;
  margin-left: 15.2%;
  margin-right: 9.7%;
}

@media screen and (max-width: 960px) {
  .nav__menu {
    height: 60px;
  }
}

@media screen and (max-width: 520px) {
  .nav__menu {
    height: 33px;
  }
}

.nav__menu li {
  font-size: 30px;
}

@media screen and (max-width: 960px) {
  .nav__menu li {
    font-size: 17px;
  }
}

@media screen and (max-width: 520px) {
  .nav__menu li {
    font-size: 10px;
  }
}

.nav__menu li > a {
  color: white;
  text-decoration: none;
}

.nav__menu span {
  font-size: 42px;
}

.nav__menu span::before {
  content: url(../image/call.png);
  margin-right: 36px;
}

@media screen and (max-width: 960px) {
  .nav__menu span::before {
    content: url(../image/call_ipad.png);
    margin-right: 17px;
  }
}

@media screen and (max-width: 520px) {
  .nav__menu span::before {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .nav__menu span {
    font-size: 29px;
  }
}

@media screen and (max-width: 520px) {
  .nav__menu span {
    display: none;
  }
}

.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

.bg-filter {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
}

.pagenavi-btn {
  border: none;
  width: 459px;
  height: 89px;
  background-color: #C1904F;
  color: white;
  font-size: 34px;
  position: relative;
}

@media screen and (max-width: 960px) {
  .pagenavi-btn {
    font-size: 32px;
  }
}

.pagenavi-btn::after {
  content: ">";
  position: absolute;
  top: calc(50% - 27px);
  right: 5.7%;
}

.sec1 {
  background-image: url(../image/bg_discription1.png);
  background-size: cover;
  height: 805px;
  position: relative;
}

@media screen and (max-width: 960px) {
  .sec1 {
    height: 578px;
    background-position-x: -400px;
  }
}

@media screen and (max-width: 520px) {
  .sec1 {
    height: 255px;
    background-position-x: -100px;
  }
}

.sec1__contents {
  width: 100%;
  height: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
}

.sec1__contents .sec1__contetns__img {
  width: 38.8%;
  margin-left: 14.3%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: 0 126px;
     object-position: 0 126px;
}

@media screen and (max-width: 960px) {
  .sec1__contents .sec1__contetns__img {
    margin-left: 8.3%;
    width: 52.8%;
    -o-object-position: 0 123px;
       object-position: 0 123px;
  }
}

@media screen and (max-width: 960px) {
  .sec1__contents .sec1__contetns__img {
    margin-left: 8.3%;
    width: 50.4%;
    -o-object-position: 0 58px;
       object-position: 0 58px;
  }
}

.sec1__contents__discription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
          writing-mode: vertical-rl;
  margin-left: 10.8%;
}

@media screen and (max-width: 960px) {
  .sec1__contents__discription {
    margin-left: 7.6%;
  }
}

@media screen and (max-width: 960px) {
  .sec1__contents__discription {
    margin-left: 8.8%;
  }
}

.sec1__contents__discription > p {
  margin-top: 106px;
  margin-bottom: 150px;
  line-height: 30px;
  letter-spacing: 10px;
  font-size: 20px;
}

@media screen and (max-width: 960px) {
  .sec1__contents__discription > p {
    font-size: 15px;
    line-height: 23px;
    margin-top: 84px;
    margin-bottom: 83px;
    letter-spacing: 7px;
  }
}

@media screen and (max-width: 520px) {
  .sec1__contents__discription > p {
    font-size: 8px;
    line-height: 14px;
    margin-top: 36px;
    margin-bottom: 26px;
    letter-spacing: 7px;
  }
}

.sec1__contents__discription > h2 {
  margin-top: 111px;
  margin-left: 48px;
  font-size: 127px;
}

@media screen and (max-width: 960px) {
  .sec1__contents__discription > h2 {
    font-size: 68px;
    margin-top: 97px;
    margin-left: 4.2%;
  }
}

@media screen and (max-width: 520px) {
  .sec1__contents__discription > h2 {
    font-size: 30px;
    margin-top: 48px;
    margin-left: 3.5%;
  }
}

.sec2 {
  background-image: url(../image/bg_discription2.png);
  background-size: cover;
  height: 1123px;
  position: relative;
}

.sec2__contents {
  width: 100%;
  height: 100%;
  color: #393939;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
}

@media screen and (max-width: 960px) {
  .sec2__contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.sec2__contents__discription {
  width: 630px;
  margin-left: 7.6%;
}

@media screen and (max-width: 960px) {
  .sec2__contents__discription {
    width: auto;
    margin: auto;
    display: block;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
  }
}

.sec2__contents__discription > h2 {
  margin-top: 159px;
  font-size: 48px;
  white-space: nowrap;
}

.sec2__contents__discription > h2 > strong {
  font-size: 122px;
}

@media screen and (max-width: 960px) {
  .sec2__contents__discription > h2 {
    margin-top: 0;
    font-size: 23px;
    letter-spacing: 10px;
  }
  .sec2__contents__discription > h2 > strong {
    font-size: 75px;
  }
}

.sec2__contents__discription > h3 {
  font-size: 43px;
  margin-left: 211px;
  white-space: nowrap;
}

@media screen and (max-width: 960px) {
  .sec2__contents__discription > h3 {
    font-size: 19px;
    letter-spacing: 10px;
    margin-left: 6.7%;
    margin-top: 140px;
  }
}

.sec2__contents__discription > p {
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
          writing-mode: vertical-rl;
  margin-top: 106px;
  margin-right: auto;
  line-height: 30px;
  letter-spacing: 10px;
  font-size: 20px;
  height: 50%;
}

@media screen and (max-width: 960px) {
  .sec2__contents__discription > p {
    margin: 0;
    height: auto;
    line-height: 26px;
    letter-spacing: 8px;
    font-size: 17px;
    height: 464px;
  }
}

.sec2__contents .sec2__contetns__img {
  width: 52.8%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: 0 155px;
     object-position: 0 155px;
  margin-left: 5.6%;
}

@media screen and (max-width: 960px) {
  .sec2__contents .sec2__contetns__img {
    width: 85.9%;
    -o-object-position: 0;
       object-position: 0;
    height: auto;
    display: block;
    margin: 58px auto 0;
  }
}

.sec3 {
  background-image: url(../image/bg_discription3.png);
  height: 967px;
  position: relative;
}

@media screen and (max-width: 960px) {
  .sec3 {
    height: 2147px;
  }
}

.sec3__contents {
  position: absolute;
  margin-top: 131px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

@media screen and (max-width: 960px) {
  .sec3__contents {
    margin-top: 74.5px;
  }
  .sec3__contents .pagenavi-content {
    width: 100%;
    margin: auto;
  }
  .sec3__contents .pagenavi-content:not(:first-of-type) {
    margin-top: 54.9px;
  }
}

@media screen and (max-width: 960px) {
  .sec3__contents {
    display: block;
  }
}

.pagenavi-content {
  width: 23.9%;
  color: #393939;
  max-width: 459px;
}

@media screen and (max-width: 960px) {
  .pagenavi-content {
    max-width: 484px;
  }
}

@media screen and (max-width: 520px) {
  .pagenavi-content {
    max-width: 484px;
  }
}

.pagenavi-content > h3 {
  font-size: 34px;
  width: 100%;
}

@media screen and (max-width: 960px) {
  .pagenavi-content > h3 {
    font-size: 32px;
  }
}

.pagenavi-content > img {
  margin-top: 11px;
  width: 100%;
}

.pagenavi-content > p {
  font-size: 20px;
  margin-top: 13px;
  padding-right: 20.3%;
  line-height: 27px;
  width: 100%;
}

@media screen and (max-width: 960px) {
  .pagenavi-content > p {
    padding-right: 31.8%;
    font-size: 18px;
    line-height: 24px;
  }
}

.pagenavi-content .pagenavi-btn {
  margin-top: 98px;
  width: 100%;
}

@media screen and (max-width: 960px) {
  .pagenavi-content .pagenavi-btn {
    margin-top: 66.7px;
  }
}

body {
  margin: 0;
}

.p-info {
  width: 100vw;
  background-image: url("../image/bg_info.png");
  background-size: cover;
  font-family: 'hiragino';
}

.p-info .info__inner {
  margin: 0 auto;
  padding: 38px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 960px) {
  .p-info .info__inner {
    padding: 53px 0;
  }
}

@media (max-width: 520px) {
  .p-info .info__inner {
    padding: 20px 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.p-info .info__inner .calendar__inner {
  margin: 0;
  margin-right: calc(68/1920*100%);
  width: calc(458/1920*100%);
  min-width: 400px;
}

@media (max-width: 960px) {
  .p-info .info__inner .calendar__inner {
    margin-right: calc(14/ 768*100%);
    width: calc(263/ 768*100%);
    max-width: 263px;
    min-width: 230px;
  }
}

@media (max-width: 520px) {
  .p-info .info__inner .calendar__inner {
    margin-top: 13px;
    margin-right: 0;
    width: 100%;
    max-width: none;
  }
}

.p-info .info__inner .info__nav {
  padding-top: calc(47/1920*100%);
  padding-bottom: 6.6%;
  width: calc(710/1920*100%);
  max-width: 710px;
  max-height: 508px;
  background-color: #F2F1E6;
  opacity: 0.7;
  text-align: center;
}

@media (max-width: 960px) {
  .p-info .info__inner .info__nav {
    padding-top: calc(27/ 768*100%);
    padding-bottom: 6.6%;
    width: calc(408/ 768*100%);
    max-width: 408px;
    max-height: 292px;
  }
}

@media (max-width: 520px) {
  .p-info .info__inner .info__nav {
    width: 100%;
    max-width: none;
    height: 207px;
  }
}

.p-info .info__inner .info__nav .info-title img {
  width: calc(412/710*100%);
}

@media (max-width: 960px) {
  .p-info .info__inner .info__nav .info-title img {
    width: calc(228/408*100%);
  }
}

@media (max-width: 520px) {
  .p-info .info__inner .info__nav .info-title img {
    width: calc(165/375*100%);
  }
}

.p-info .info__inner .info__nav address {
  margin: 0 15%;
}

.p-info .info__inner .info__nav address .tel {
  margin-top: 9px;
}

@media (max-width: 960px) {
  .p-info .info__inner .info__nav address .tel {
    margin-top: 2px;
  }
}

.p-info .info__inner .info__nav address .tel img {
  display: inline-block;
  margin-left: -2rem;
  width: calc(1.51*27/720*100%);
}

@media (max-width: 960px) {
  .p-info .info__inner .info__nav address .tel img {
    font-size: 2.1rem;
  }
}

@media (max-width: 520px) {
  .p-info .info__inner .info__nav address .tel img {
    font-size: 1.2rem;
  }
}

.p-info .info__inner .info__nav address .tel span {
  margin-left: 0.5em;
  font-size: 34px;
  font-size: 1.77083vw;
  font-weight: bold;
  font-style: normal;
  line-height: 1.18;
  color: #C1904F;
}

@media (max-width: 960px) {
  .p-info .info__inner .info__nav address .tel span {
    font-size: 2.1rem;
  }
}

@media (max-width: 520px) {
  .p-info .info__inner .info__nav address .tel span {
    font-size: 1.2rem;
  }
}

.p-info .info__inner .info__nav address dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 19px;
  text-align: left;
  font-style: normal;
}

@media (max-width: 960px) {
  .p-info .info__inner .info__nav address dl {
    padding-top: 16px;
  }
}

@media (max-width: 520px) {
  .p-info .info__inner .info__nav address dl {
    padding-top: 8px;
  }
}

.p-info .info__inner .info__nav address dl dt {
  padding-bottom: 20px;
  width: 23%;
  font-size: 1.6rem;
  line-height: 1.7em;
}

@media (max-width: 960px) {
  .p-info .info__inner .info__nav address dl dt {
    font-size: 1rem;
    line-height: 1.4em;
  }
}

@media (max-width: 520px) {
  .p-info .info__inner .info__nav address dl dt {
    padding-bottom: 4px;
  }
}

.p-info .info__inner .info__nav address dl dd {
  padding-left: 1em;
  width: 77%;
  font-size: 1.6rem;
  line-height: 1.7em;
}

@media (max-width: 960px) {
  .p-info .info__inner .info__nav address dl dd {
    font-size: 1rem;
    line-height: 1.4m;
  }
}
