.pagenavi-btn{
    border: none;
    width: 459px;
    height: 89px;
    background-color: #C1904F;
    color: white;
    font-size: 34px;
    position: relative;
    @include mq(md){
        font-size: 32px;
    }
    &::after{
        content: ">";
        position: absolute;
        right:5.7%;
    }
}