.main-info {
    *{
        @include fz_vw(19);
        line-height: 26px;
        @include mq(md){
            font-size: 12px;
            line-height: 16px;
        }
    }
    display: inline-block;
    text-align: left;
    position: relative;
    @include mq(sm){
        display: none;
    }
    &::before{
        position: absolute;
        font-family: FontAwesome;
        content: "\f041";
        left:-20px;
        font-size: 19px;
        line-height: 26px;
        @include mq(md){
            left:-15px;
            font-size: 12px;
            line-height: 16px;
        }
    }
}