.nav{
    background-image: url("../image/bg_menu.png");
    color:white;
    &__menu{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 120px;
        list-style: none;
        margin-left: 15.2%;
        margin-right: 9.7%;
        @include mq(md){
            height: 60px;
        }
        @include mq(sm){
            height: 33px;
        }
        li{
            @include fz_vw(30);
            @include mq(md){
                font-size: 17px;
            }
            @include mq(sm){
                font-size: 10px;
            }
            >a{
                color:white;
                text-decoration:none;
            }
        }
        span{
            &::before{
                content: url(../image/call.png);
                margin-right: 36px;
                @include mq(md){
                    content: url(../image/call_ipad.png);
                    margin-right: 17px;
                }
                @include mq(sm){
                    display: none;
                }
            }
            font-size: 42px;
            @include mq(md){
                font-size: 29px;
            }
            @include mq(sm){
                display: none;
            }
        }
    }
}

.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
  }