.nav{
    background-image: url("../image/bg_menu.png");
    color:white;
    &__menu{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 120px;
        list-style: none;
        margin-left: 15.2%;
        margin-right: 9.7%;
        li{
            font-size: 30px;
            >a{
                color:white;
                text-decoration:none;
            }
        }
        span{
            &::before{
                content: url(../image/call.png);
                margin-right: 36px;
            }
            font-size: 42px;
        }
    }
}

.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    max-width: 1920px;
  }