.pagenavi-content{
    width:23.9%;
    color: #393939;
    >h3{
        font-size: 34px;
    }
    >img{
        width: 100%;
        margin-top: 11px;
    }
    >p{
        font-size: 20px;
        margin-top: 13px;
        margin-right: 20.3%;
        line-height: 27px;
    }
    .pagenavi-btn{
        margin-top: 98px;
        max-width: 100%;
    }
}